.App {
  text-align: center;
}

a:link {
  color: aliceblue;
}

a:visited {
  color: aliceblue;
}

#cardLogin {
  width: 18rem;
  background-color: #282c34;
}

#cardRegister {
  width: 18rem;
  background-color: #282c34;
}

/*
.card {
  width: 18rem;
  background-color: #282c34;
}
*/
.Welcome-text {
  color: aliceblue;
}

.card-center {
  padding-top: 10%;
  padding-left: 32%;
  padding-right: 50%;
}

#myAccount {
  padding-top: 10%;
}

#accountList {
  color: black;
}

#accountListGroup a:link {
  color: black;
}

#accountListGroup a:visited {
  color: black;
}

#accountListGroupItem {
  color: black;
}

.card-body {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cartcontainer {
  margin-top: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: rgb(59, 59, 59);
}
#detailscontainer {
  margin-top: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: rgb(59, 59, 59);
}

#bookdetails {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
}

#bookauthor {
  font-style: italic;
}

#submitbutton {
  margin-top: 2.1vh;
}

#detailbutton {
  margin-top: 2.1vh;
  margin-left: 5%;
}
/* cart page styling */
.card.cart-card {
  border-radius: 15px 50px;
  border-color: black;
}
.col-md-2.cart-card {
  border-radius: 15px 50px;
}
.cart-img {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
}

.cart-card-img {
  display: block;
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
  border-radius: 15px 50px;
}
.cart-card-img:hover {
  transform: scaleX(-1);
}

.cart-card-p {
  font-weight: 600;
  padding: 2vh;
}

.cart-card-body {
  border-radius: 15px 50px;
  border: 15px;
  border-color: red;
  text-align: left;
  background: linear-gradient(
    0deg,
    rgb(109, 109, 109) 0%,
    rgb(255, 255, 255) 100%
  );
}

.card-title.cart-title {
  margin-top: 1vh;
  text-shadow: 1px 1px;
}

#cart-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cart-item-center {
  text-align: center;
}

#total {
  background-color: lightgreen;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  border: 1px solid black;
  border-radius: 10px;
}

.card-img {
  cursor: pointer;
}

.enlarge-img {
  cursor: pointer;
  margin-top: 15vh;
  width: auto;
  height: 70%;
}

.enlarge-img-overlay {
  position: absolute;
  z-index: 1000;
  background: hsla(0, 0%, 0%, 0.726);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.author-heading {
  font-style: italic;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.author-card-img {
  width: auto;
  height: 190px;
}

.book-desc {
  height: 70px;
  overflow: auto;
}
