.App {
  text-align: center;
}

a:link {
  color: aliceblue;
}

a:visited {
  color: aliceblue;
}

/*
.card {
  width: 18rem;
  background-color: #282c34;
}
*/
.Welcome-text {
  color: aliceblue;
}

.card-center {
  padding-top: 10%;
  padding-left: 32%;
  padding-right: 50%;
}

#myAccount {
  padding-top: 10%;
}

#accountList {
}

.card-body {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#detailscontainer {
  margin-top: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: rgb(59, 59, 59);
}

#bookdetails {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
}

#bookauthor {
  font-style: italic;
}

#submitbutton {
  margin-top: 2.1vh;
}

#detailbutton {
  margin-top: 2.1vh;
  margin-left: 5%;
}
